<div class="container">
    <div class="text_wrapper-{{ section.id }}">
        {% for block in section.blocks %}
            {% case block.type %}
                {% when "single-text-block" %}
                    <div class="single-text-block-wrapper-{{ block.id }}">
                        {{ block.settings.single-text-content }}
                    </div>
                {% when "double-text-block" %}
                    <div class="double-text-block-wrapper-{{ block.id }}">
                        <div class="left_text-{{ block.id }}">
                            {{ block.settings.double-text-content-left }}
                        </div>
                        <div class="right_text-{{ block.id }}">
                            {{ block.settings.double-text-content-right }}
                        </div>
                    </div> 
                {% when "spacer-block" %}
                    <div class="spacer-{{ block.id }}"> </div>
            {% endcase %}
        {% endfor %}
    </div>
</div>

<style>
    .container{
        background-color:#F2F2F2;
        width: 100%;
    }
    {% for block in section.blocks %}
    {% case block.type %}
    {%- when "single-text-block" -%} 
        .single-text-block-wrapper-{{ block.id }} {
            max-width: 600px;
            margin: auto;
        }
        .single-text-block-wrapper-{{ block.id }} p {
            font-size: {{ block.settings.font-size | append: 'px' }};
            line-height: {{ block.settings.line-height | append: 'px' }};
            font-family: {{ block.settings.font }};
            color: {{ block.settings.text-color }};
            margin: 0;
        }
        {% if block.settings.section-width == "large" %}
            div.single-text-block-wrapper-{{ block.id }}{
                width: 100%;
            }
        {% elsif block.settings.section-width == "medium" %}
            div.single-text-block-wrapper-{{ block.id }}{
                width: 75%;
            }
        {% elsif block.settings.section-width == "small" %}
            div.single-text-block-wrapper-{{ block.id }}{
                width: 50%;
            }
        {% elsif block.settings.section-width ==  "custom" %}
            div.single-text-block-wrapper-{{ block.id }}
            {
                width: {{ block.settings.custom-width }}%;
            }
        {% endif %}

    {%- when "double-text-block" -%} 
        .double-text-block-wrapper-{{ block.id }} p{
            font-size: {{ block.settings.font-size | append: 'px' }};
            line-height: {{ block.settings.line-height | append: 'px' }};
            font-family: {{ block.settings.font }};
            color: {{ block.settings.text-color }}
        }
        .double-text-block-wrapper-{{ block.id }}{
            max-width: 968px;
            margin: auto;
            display: flex;
            gap: 20px;
            width: 100%
        }
        .left_text-{{ block.id }}, .right_text-{{ block.id }}{
            width: 50%;
        }
    {%- when 'spacer-block' -%}
        .spacer-{{ block.id }}{
            height: {{ block.settings.spacer-height }}px;
        }
        
    {% endcase %}
    {% endfor %}
</style>


{% schema %} 
{
    "name" : "Single & double col text",
    "blocks": [
        {
            "name" : "single-col-text",
            "type" : "single-text-block",
            "settings" :[
                {
                    "type": "richtext",
                    "id" : "single-text-content",
                    "label" : "Change text content",
                    "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu euismod ante, quis finibus odio. Aenean scelerisque consectetur pharetra. In condimentum est eu eros malesuada aliquam.</p>"
                },
                {
                    "type": "select",
                    "id": "section-width",
                    "label": "Section Width",
                    "options": [
                    {
                        "value": "medium",
                        "label": "Medium"
                    }, 
                    {
                        "value": "small",
                        "label": "Small"
                    }, 
                    {
                        "value": "large",
                        "label": "Full Width"
                    },
                    {
                        "value": "custom",
                        "label": "Custom Width"
                    }
                    ],
                    "default": "small"
                },
                 {
                    "type": "range",
                    "id": "custom-width",
                    "label": "Custom Width",
                    "min": 50,
                    "max": 100,
                    "step": 1,
                    "unit": "%",
                    "default": 50
                },
                {
                    "type": "range",
                    "id": "font-size",
                    "label": "Change Font Size",
                    "min": 12,
                    "max": 50,
                    "step": 1,
                    "unit": "px",
                    "default": 24
                },
                {
                    "type": "range",
                    "id": "line-height",
                    "min": 10,
                    "max": 50,
                    "step": 1,
                    "unit": "px",
                    "default": 30,
                    "label": "Line height"
                },
                {
                    "type": "font",
                    "id" : "font",
                    "label": "Font-Family"
                },
                {
                    "type": "color",
                    "id": "text-color",
                    "label": "Text Color",
                    "default": "#333333"
                }
            ]
        },
        {
            "name" : "double-col-text",
            "type" : "double-text-block",
            "settings" :[
                {
                    "type": "richtext",
                    "id" : "double-text-content-left",
                    "label" : "Change text content of left",
                    "default": "<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius reprehenderit totam mollitia consequuntur sapiente quos enim quibusdam soluta, sint ut deserunt sit natus debitis, ea magnam quam voluptatum id illo ducimus animi eos assumenda obcaecati voluptate. Deserunt ratione aperiam doloribus</p>"
                },
                {
                    "type": "richtext",
                    "id" : "double-text-content-right",
                    "label" : "Change text content of right",
                    "default": "<p> Aenean ligula felis, rutrum in augue quis, consectetur porta libero. Sed eleifend arcu vel porta cursus. Nunc faucibus ornare risus nec accumsan. Donec sed nisi rutrum, mattis diam a, tempus risus. Morbi at lectus elementum, laoreet orci sit amet, rutrum ipsum. Integer vel aliquet risus, sed pharetra justo. Pellentesque commodo eu quam vel hendrerit. Mauris non turpis fermentum, faucibus nulla quis, convallis nulla. Ut efficitur metus eros, quis consequat nunc tincidunt et. Quisque a mattis turpis. Sed nisl purus, malesuada.</p>"
                },
                {
                    "type": "range",
                    "id": "font-size",
                    "label": "Change Font Size",
                    "min": 12,
                    "max": 50,
                    "step": 1,
                    "unit": "px",
                    "default": 15
                },
                {
                    "type": "range",
                    "id": "line-height",
                    "min": 10,
                    "max": 50,
                    "step": 1,
                    "unit": "px",
                    "default": 22,
                    "label": "Line height"
                },
                {
                    "type": "font",
                    "id" : "font",
                    "label": "Font-Family"
                },
                {
                    "type": "color",
                    "id": "text-color",
                    "label": "Text Color",
                    "default": "#333333"
                }
            ]
        },
        {
            "type": "spacer-block",
            "name": "Spacer",
            "settings":[
                {
                    "type": "range",
                    "id": "spacer-height",
                    "label": "Spacer Height",
                    "min": 0,
                    "max": 200,
                    "step": 5,
                    "unit": "px",
                    "default": 30
                }
            ]
        }
    ],
     "presets": [
        {
            "category":"content",
            "name":"Single & double col text"
        //     "blocks": [
        //    {
        //      "type": "single-text-block"
        //    },
        //    {
        //     "type": "double-text-block"
        //    },
        //    {
        //     "type": "spacer-block"
        //    }
        //    ]
        }
    ]
}
{% endschema %}