{% for block in section.blocks %}
    {% case block.type %}
    {% when "image-with-navigator-text" %}
        <div class="container-{{ section.id }}">
            <div class="img-with-text-wrapper-{{ block.id }}">
                <div class="img-wrapper-{{ block.id }}">
                    <img src="{{ block.settings.image | img_url: "master" }}" class="image-{{ block.id }}">
                </div>
                <div class="text-warpper-{{ block.id }}">
                    <div class="header-style-{{ block.id }}">
                        <h2>Whiting Overshirt </h2>
                    </div>
                    <div class="description-wrapper-{{ block.id }}">
                        {{ block.settings.texts }}
                    </div>
                    <div class="btn-{{ block.id }}">
                        <a href="https://waxlondon.com/collections/winter-sale">Shop The Look</a>
                    </div>
                </div>
            </div>
        </div>
    {% endcase %}
{% endfor %}

<style>
    .container-{{ section.id }}{
        background-color: #F2F2F2;
        width: 100%;
    }
    {% for block in section.blocks %}
        {% case block.type %}
            {% when "image-with-navigator-text" %}
                .img-with-text-wrapper-{{ block.id }}{
                    padding-top: {{ block.settings.padding-top | append: 'px' }};
                    padding-bottom: {{ block.settings.padding-bottom | append: 'px' }};
                    display: flex;
                    width: 100%;
                }
                .image-{{ block.id }}{
                    width: 100%;
                    display: block;
                }
                .img-wrapper-{{ block.id }}, .text-warpper-{{ block.id }}{
                    width: 50%;
                }
                {% if block.settings.width == 'large' %}
                    .img-with-text-wrapper-{{ block.id }}{
                        width: 100%;
                    }
                    div.img-wrapper-{{ block.id }}{
                        width: 60%;
                    }
                    div.text-warpper-{{ block.id }}{
                        width: 40%;
                    }
                {% elsif block.settings.width == 'medium' %}
                    .img-with-text-wrapper-{{ block.id }}{
                        width: 85%;
                        margin: auto;
                    }
                    div.img-wrapper-{{ block.id }}{
                        width: 55%;
                        margin: auto;
                    }
                    div.text-warpper-{{ block.id }}{
                        width: 45%;
                    }
                {% elsif block.settings.width == 'small' %}
                    .img-with-text-wrapper-{{ block.id }}{
                        width: 75%;
                        margin: auto;
                    }
                    div.img-wrapper-{{ block.id }}{
                        width: 50%;
                        margin: auto;
                    }
                    div.text-warpper-{{ block.id }}{
                        width: 50%;
                    }
                {% endif %}
                .img-with-text-wrapper-{{ block.id }} .text-warpper-{{ block.id }} p, .text-warpper-{{ block.id }} a{
                    font-size: {{ block.settings.font-size | append: "px" }};
                    color: {{ block.settings.text-color }};
                    font-family: {{ block.settings.font }};
                    line-height: {{ block.settings.line-height }}px;
                }
                .header-style-{{ block.id }} h2{
                    font-size: {{ block.settings.header-font-size | append: "px" }};
                    color: {{ block.settings.header-text-color }};
                    font-family: {{ block.settings.header-font }};
                    line-height: {{ block.settings.header-line-height }}px;
                }
                div.text-warpper-{{ block.id }} > p{
                    margin: 0;
                    padding-top: 0;
                }
                {% if block.settings.toggle_column == true %}
                    .img-with-text-wrapper-{{ block.id }}{
                        flex-direction: row-reverse;
                    }
                {% endif %}
                .text-warpper-{{ block.id }}{
                    padding: 0 55px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background-color: {{ block.settings.color_accent }};
                }
                .btn-{{ block.id }}{
                    margin-top: 30px;
                    display: block;
                    background-color: #333333;
                    width: 150px;
                    border-radius: 25px;
                }
                .btn-{{ block.id }} a{
                    display: block;
                    padding: 13px 15px;
                    text-align: center;
                    color: #FFF;
                    text-decoration: none;
                }
                {% if block.settings.hide-button == true %}
                    .btn-{{ block.id }}{
                        display: none;
                    }
                {% endif %}
            {% endcase %}
    {% endfor %}
</style>

{% schema %}
  {
    "name": "Single Image With Text",
    "blocks": [
        {
            "name" : "Image With Nvigator Text",
            "type" : "image-with-navigator-text",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Single-Image"
                },
                {
                    "type": "select",
                    "id": "width",
                    "label": "Section Width",
                    "options": [
                    {
                        "value": "medium",
                        "label": "Medium"
                    }, 
                    {
                        "value": "small",
                        "label": "Small"
                    }, 
                    {
                        "value": "large",
                        "label": "Full Width"
                    }
                    ],
                    "default": "small"
                },
                {
                    "type": "checkbox",
                    "id": "toggle_column",
                    "label": "Toggle Column",
                    "default": false
                },
                {
                    "type": "checkbox",
                    "id": "hide-button",
                    "label": "Hide Button",
                    "default": false
                },
                {
                    "type": "richtext",
                    "id": "texts",
                    "default": "<p>Whiting Overshirt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu euismod ante, quis finibus odio. Aenean scelerisque consectetur pharetra. In condimentum est eu eros malesuada aliquam. Aenean iaculis ligula a quam vehicula mattis. Nulla fringilla bibendum erat id molestie. Quisque id arcu in libero euismod rutrum sed ut libero. Nunc et dolor non ex elementum varius vel ut ligula. Sed id felis ex. Aenean tristique lobortis est, vitae consequat.</p>",
                    "label": "Text"
                },
                {
                    "type": "color",
                    "id": "color_accent",
                    "label": "Background Color",
                    "default": "#4E4E3F"
                },
                {
                    "type": "range",
                    "id": "font-size",
                    "label": "Description font size",
                    "min": 10,
                    "max": 50,
                    "step": 1,
                    "unit": "px",
                    "default": 16
                },
                {
                    "type": "range",
                    "id": "line-height",
                    "min": 0,
                    "max": 50,
                    "step": 1,
                    "unit": "px",
                    "default": 22,
                    "label": "Description line height"
                },
                {
                    "type": "font",
                    "id" : "font",
                    "label": "Description font family"
                },
                {
                    "type": "color",
                    "id": "text-color",
                    "label": "Text Color",
                    "default": "#333333"
                },
                {
                    "type": "range",
                    "id": "header-font-size",
                    "label": "Header Font Size",
                    "min": 10,
                    "max": 50,
                    "step": 1,
                    "unit": "px",
                    "default": 24
                },
                {
                    "type": "range",
                    "id": "header-line-height",
                    "min": 0,
                    "max": 50,
                    "step": 1,
                    "unit": "px",
                    "default": 22,
                    "label": "Header line height"
                },
                {
                    "type": "font",
                    "id" : "header-font",
                    "label": "Header font family"
                },
                {
                    "type": "color",
                    "id": "header-text-color",
                    "label": "header text color",
                    "default": "#333333"
                },
                {
                    "type": "range",
                    "label": "Padding Top",
                    "id": "padding-top",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "px",
                    "default": 0
                },
                {
                    "type": "range",
                    "label": "Padding Bottom",
                    "id": "padding-bottom",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "px",
                    "default": 0
                }
        
            ]
        }
    ],
    "presets": [
      {
        "name": "Image With Navigator Text"
      }
    ]
  }
{% endschema %}