<div class="double-image-with-bg-{{ section.id }}">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when "double-image-with-bg" %}
        <div class="double-img-with-text-wrapper-{{ block.id }} doubleImg-{{ block.settings.width }}">
            <div class="left-img-text-wrapper-{{ block.id }}">
                <div class="left-img-{{ block.id }}">
                    <img src="{{ block.settings.left_image | img_url: "master" }}" class="image-{{ block.id }}">
                </div>
                 <div class="img-caption-{{ block.id }} left-img-caption-{{ block.id }}">
                    {{ block.settings.left-side-texts }}
                </div>       
            </div>
            <div class="right-img-text-wrapper-{{ block.id }}">
               <div class="right-img-{{ block.id }}">
                    <img src="{{ block.settings.right_image | img_url: "master" }}" class="image-{{ block.id }}">
                </div>
                <div class="img-caption-{{ block.id }} right-img-caption-{{ block.id }}">
                    {{ block.settings.right-side-texts }}
                </div>
            </div>
        </div>
    {% endcase %}
  {% endfor %}
</div>
<style>
  {% for block in section.blocks %}
    {% case block.type %}
      {%- when "double-image-with-bg" -%}
        .double-img-with-text-wrapper-{{ block.id }}{
            display: flex;
            width: 100%;
            padding-top: {{ block.settings.padding-top-bottom | append: 'px' }};
            padding-bottom: {{ block.settings.padding-top-bottom | append: 'px' }};
            padding-left: {{ block.settings.padding-left-right | append: 'px' }};
            padding-right: {{ block.settings.padding-left-right | append: 'px' }};
            gap: {{ block.settings.gap | append: 'px' }}
        }
        .double-image-with-bg-{{ section.id }}{
             background-color: #F2F2F2;
        }
        .left-img-{{ block.id }}, .right-img-{{ block.id }} {
            background-color: #FFFFFF;
            height: 100%;
        }
        .left-img-{{ block.id }} img,
        .right-img-{{ block.id }} img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
          }
        .left-img-text-wrapper-{{ block.id }},
        .right-img-text-wrapper-{{ block.id }} {
            display: flex;
            flex-direction: column;
            flex: 1;
        }
        .left-img-caption-{{ block.id }}, .right-img-caption-{{ block.id }} {
            padding-right: 40px;
        }
        {% if block.settings.width == 'large' %}
            .double-img-with-text-wrapper-{{ block.id }}{
                width: 100%;
        }
      {% elsif block.settings.width == 'medium' %}
            .double-img-with-text-wrapper-{{ block.id }}{
                width: 75%;
                margin: auto;
        }
      {% elsif block.settings.width == 'small' %}
            .double-img-with-text-wrapper-{{ block.id }}{
                width: 50%;
                margin: auto;
            }
      {% elsif block.settings.width == 'object-fit' %}
            .double-img-with-text-wrapper-{{ block.id }}{
                width: 100%;
                margin: auto;
            }
            div.left-img-text-wrapper-{{ block.id }}{
                flex: 60%;

            }
            div.right-img-text-wrapper-{{ block.id }}{
                flex: 40%;
            }
            div.right-img-{{ block.id }} {
            height: 80%;
        }
      {% endif %}
      {% if block.settings.height == 'large' %}
          div.right-img-{{ block.id }}, div.left-img-{{ block.id }} {
            height: 730px;
        }
      {% elsif block.settings.height == 'medium' %}
          div.right-img-{{ block.id }}, div.left-img-{{ block.id }} {
            height: 600px;
        }
      {% elsif block.settings.height == 'small' %}
          div.right-img-{{ block.id }}, div.left-img-{{ block.id }} {
            height: 375px;
        }
          .image-{{ block.id }}{
            object-position: top;
        }
       {% elsif block.settings.height == 'object-fit' %}
          div.right-img-{{ block.id }}, div.left-img-{{ block.id }} {
            height: 100%;
        }
      {% endif %}
     .img-caption-{{ block.id }} p, .img-caption-{{ block.id }} a {
        font-size: {{ block.settings.font-size | append: "px" }};
        color: {{ block.settings.text-color }};
        font-family: {{ block.settings.font }};
        line-height: {{ block.settings.line-height }}px;
        }
        {% if block.settings.toggle_column == false and block.settings.width == 'small' %}
            .right-img-{{ block.id }}{
                padding: {{ block.settings.padding }}%;
            }
        {% elsif block.settings.toggle_column == true and block.settings.width == 'small' %}
            .left-img-{{ block.id }}{
                padding: {{ block.settings.padding }}%;
            }
        {% endif %}
        {% if block.settings.toggle_column == false and block.settings.width == 'medium' %}
            .right-img-{{ block.id }}{
                padding: {{ block.settings.padding }}%;
            }
        {% elsif block.settings.toggle_column == true and block.settings.width == 'medium' %}
            .left-img-{{ block.id }}{
                padding: {{ block.settings.padding }}%;
            }
        {% endif %}
        {% if block.settings.toggle_column == false and block.settings.width == 'large' %}
            .right-img-{{ block.id }}{
                padding: {{ block.settings.padding }}%;
            }
        {% elsif block.settings.toggle_column == true and block.settings.width == 'large' %}
            .left-img-{{ block.id }}{
                padding: {{ block.settings.padding }}%;
            }
        {% endif %}
        {% if block.settings.toggle_column == false and block.settings.width == 'object-fit' %}
            .right-img-{{ block.id }}{
                padding: {{ block.settings.padding }}%;
            }
        {% elsif block.settings.toggle_column == true and block.settings.width == 'object-fit' %}
            .left-img-{{ block.id }}{
                padding: {{ block.settings.padding }}%;
            }
        {% endif %}
      p {
        margin: 0;
        padding-top: 10px;
      }
      {% if block.settings.toggle_left_img_caption == true %}
        div.left-img-caption-{{ block.id }} {
            display: none;
        }
      {% endif %}
      {% if block.settings.toggle_right_img_caption == true %}
        div.right-img-caption-{{ block.id }} {
          display: none;
        }
      {% endif %}

      @media screen and  (max-width:768px){
      div.double-img-with-text-wrapper-{{ block.id }}{
          width: 100%;
          padding: 0 15px;
        }
      div.doubleImg-medium, div.doubleImg-object-fit{
        flex-direction: column;
        width: 100%;
      }
      }
    {% endcase %}
  {% endfor %}
</style>

{% schema %}
  {
    "name": "Double-Image with bg",
    "blocks": [
      {
        "name": "double image with bg",
        "type": "double-image-with-bg",
        "settings": [
        {
            "type": "image_picker",
            "id": "left_image",
            "label": "Left-Image"
        },
        {
            "type": "image_picker",
            "id": "right_image",
            "label": "Right-Image"
        },
        {
            "type": "checkbox",
            "id": "toggle_column",
            "label": "Toggle Column",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "toggle_left_img_caption",
            "label": "Hide left img caption",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "toggle_right_img_caption",
            "label": "Hide right img caption",
            "default": false
        }, 
        {
            "type": "select",
            "id": "width",
            "label": "Image Width",
            "options": [
              {
                "value": "medium",
                "label": "Medium"
              }, 
              {
                "value": "small",
                "label": "Small"
              }, 
              {
                "value": "large",
                "label": "Full Width"
              },
              {
                "value": "object-fit",
                "label": "Object Fit"
              }
            ],
            "default": "small"
        }, 
        {
            "type": "select",
            "id": "height",
            "label": "Image height",
            "options": [
              {
                "value": "medium",
                "label": "Medium"
              }, 
              {
                "value": "small",
                "label": "Small"
              }, 
              {
                "value": "large",
                "label": "Full Height"
              },
              {
                "value": "object-fit",
                "label": "Object Fit"
              }
            ],
            "default": "object-fit"
        },
        {
            "type": "range",
            "id": "gap",
            "label": "Gap",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "default": 0
        },
        {
            "type": "range",
            "id": "padding",
            "label": "Shrink Image",
            "min": 0,
            "max": 30,
            "step": 1,
            "unit": "%",
            "default": 5
        },
        {
            "type": "range",
            "label": "Padding top-bottom",
            "id": "padding-top-bottom",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 0
        },
        {
            "type": "range",
            "label": "Padding left-right",
            "id": "padding-left-right",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 0
        }, 
        {
            "type": "richtext",
            "id": "right-side-texts",
            "default": "<p>Model wears Whiting Shirt Cosmic Papaya Check with Dean T Shirt Black and Pleat Trousers Black </p>",
            "label": "Right side text"
        }, 
        {
            "type": "richtext",
            "id": "left-side-texts",
            "default": "<p>Model wears Whiting Shirt Cosmic Papaya Check with Dean T Shirt Black and Pleat Trousers Black </p>",
            "label": "Left side text"
        },
        {
            "type": "range",
            "id": "font-size",
            "label": "Change Font Size",
            "min": 12,
            "max": 50,
            "step": 1,
            "unit": "px",
            "default": 12
        },
        {
            "type": "range",
            "id": "line-height",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "default": 18,
            "label": "Line height"
        }, 
        {
            "type": "font",
            "id": "font",
            "label": "Font-Family"
        }, 
        {
            "type": "color",
            "id": "text-color",
            "label": "Text Color",
            "default": "#333333"
        }
        ]
      }
    ],
    "presets": [
      {
        "name": "Double-Image with bg",
        "blocks": [
          {
            "type": "double-image-with-bg"
          }
        ]
      }
    ]
  }
{% endschema %}