<div class="container">
    {% for block in section.blocks %}
        {% case block.type %}
            {% when "double-image" %}
                <div class="double-img-wrapper-{{ block.id }}">
                    <div class="left-img-{{ block.id }}">
                        <img src="{{ block.settings.left_image | img_url: "master" }}" class="image-{{ block.id }}">
                    </div>
                    <div class="right-img-{{ block.id }}">
                        <img src="{{ block.settings.right_image | img_url: "master" }}" class="image-{{ block.id }}">
                    </div>
                </div>
            {% endcase %}
    {% endfor %}
</div>
<style>
    {% for block in section.blocks %}
        {% case block.type %}
            {%- when "double-image" -%} 
                .double-img-wrapper-{{ block.id }} {
                    width: 100%;
                    display: flex;
                    gap: {{ block.settings.gap | append: 'px' }};
                    padding-top: {{ block.settings.padding-top-bottom | append: 'px' }};
                    padding-bottom: {{ block.settings.padding-top-bottom | append: 'px' }};
                    padding-left: {{ block.settings.padding-left-right | append: 'px' }};
                    padding-right: {{ block.settings.padding-left-right | append: 'px' }}
                }
                .left-img-{{ block.id }}, .right-img-{{ block.id }}{
                    max-width: 50%;
                    flex: 1;
                }
                .left-img-{{ block.id }} img, .right-img-{{ block.id }} img{
                    width: 100%;
                    display: block;
                }
                {% if block.settings.width == 'Large' %}
                    .double-img-wrapper-{{ block.id }}{
                        width: 100%;
                    }
                {% elsif block.settings.width == 'medium' %}
                    .double-img-wrapper-{{ block.id }}{
                        width: 75%;
                        margin: auto;
                    }
                {% elsif block.settings.width == 'small' %}
                    .double-img-wrapper-{{ block.id }}{
                        width: 50%;
                        margin: auto;
                    }
                {% endif %}
                .container{
                    background-color:#F2F2F2;
                    width: 100%;
                }
        {% endcase %}
    {% endfor %}
</style>

{% schema %}
    {
    "name" : "Double Image",
    "blocks": [
        {
            "name" : "double image",
            "type" : "double-image",
            "settings" :[
                {
                    "type": "image_picker",
                    "id": "left_image",
                    "label": "Single-Image"
                },
                {
                    "type": "image_picker",
                    "id": "right_image",
                    "label": "Single-Image"
                },
                {
                    "type": "range",
                    "id": "gap",
                    "label": "Gap",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "px",
                    "default": 0
                },
                {
                    "type": "select",
                    "id": "width",
                    "label": "Image Width",
                    "options": [
                    {
                        "value": "medium",
                        "label": "Medium"
                    }, 
                    {
                        "value": "small",
                        "label": "Half Width"
                    }, 
                    {
                        "value": "large",
                        "label": "Full Width"
                    }
                    ],
                    "default": "small"
                },
                {
                    "type": "range",
                    "id": "padding-left-right",
                    "label": "Padding left-right",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "px",
                    "default": 0
                },
                {
                    "type": "range",
                    "id": "padding-top-bottom",
                    "label": "Padding top-bottom",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "px",
                    "default": 0
                }
            ]
        }
    ],
    "presets": [
      {
        "name": "Double Image"
      }
    ]
}
{% endschema %}